.timeTracking {
    background-color: white;
    padding-top: 150px;
    height: 1100px;
    margin-bottom: 75px;
    clip-path: ellipse(150% 50% at 50% 50%);
}

.timeTracking h1 {
    color: #31B77A;
}

.timeTracking h2 {
    margin-bottom: 50px;
}

.timeTracking h3 {
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    width: 130px;
    margin-left: 50%;
    margin-top: 50px;
}

.timerContainer {
    margin-top: 125px;
    display: none;
}

.timerContainer.activityIsRunning {
    width: 100%;
    grid-template-rows: 48px auto auto;
    grid-template-columns: auto auto auto;
    grid-row-gap: 40px;
    display: grid;
    text-align: center;
    align-items: center;
    justify-items: center;
}
