<html>

<head>
    <title>Analyze Those Activities</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap" rel="stylesheet">
    <style>
        html, body, #content {
            height: 100%;
            width: 100%;
        }
    </style>
</head>

<body>
    <div id="content"></div>
<script src="../static/build/runtime.1b6ac56964c23d42a615.js"></script><script src="../static/build/vendors.1b6ac56964c23d42a615.js"></script><script src="../static/build/main.1b6ac56964c23d42a615.js"></script></body>

</html>
