<html>

<head>
    <title>Oh No! Offline!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400&display=swap" rel="stylesheet">
    <link rel="manifest" href="/manifest">
    <meta name="theme-color" content="#FFFFFF" />

    <style>
        body {
            font-family: 'Work Sans', sans-serif;
            font-style: normal;
            height: 100%;
            width: 100%;
            margin: 0;
            position: relative;
        }

        div {
            max-width: 410px;
            text-align: left;
            position: relative;
            top: 25%;
            margin: auto auto;
            padding: 30px;
        }

        h2 {
            color: #4c4c4c;
        }
    </style>
</head>

<body>
    <div>
        <h1>It appears you are offline.</h1>
        <h2>Please reconnect and try again.</h2>
    </div>
</body>

</html>
