// .footer {
//     flex-shrink: 0;
//     display: flex;
//     margin-bottom: 40px;
//     margin-left: auto;
//     margin-right: auto;
//     padding: 0 10px;
//     flex-flow: wrap;
//     width: auto;
//     justify-content: center;
//     background-color: red;
// }

.footer {
    flex-shrink: 0;
    display: flex;
    margin: 50px auto 40px auto;
    padding: 0 10px;
    flex-flow: wrap;
    width: auto;
    justify-content: center;
}

.footer > a {
    text-decoration: none;
    white-space: nowrap;
}

.footer > a:hover {
    text-decoration: underline;
}

.footer > span, .footer > a {
    color: inherit;
    font-size: .8em;
    margin: 0 12.5px;
    height: 30px;
    opacity: .7;
}

@media only screen and (max-width: 640px) {
    .footer {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 548px) {
    .footer {
        flex-flow: wrap;
        width: auto;
        justify-content: center;
    }
}
