@font-face {
    font-family: 'Gotham Book';
    font-style: normal;
    font-weight: normal;
    src: url('./gotham-woff/GothamBook.woff') format('woff');
    src: url('./gotham-ttf/GothamBook.ttf') format('truetype');
}
