.controlsBtn {
    background-color: white;
    border: none;
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.1);
    width: 45px;
    height: 45px;
    float: left;
    position: absolute;
    z-index: 2;
    transition: left .5s;
    border-radius: 0px 6px 6px 0px;
}

.controlsClosed {
    left: 0;
}

.controlsOpen {
    left: 350px;
}