.controlsBtn {
    background-color: white;
    border: none;
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.15);
    width: 30px;
    height: 40px;
    float: left;
    position: relative;
    z-index: 2;
}
