.backgroundColor {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.content {
    flex: 1 0 auto;
}

.blur {
    filter: blur(5px);
}

@media (max-width: 500px) {
    .timerContainer {
        grid-template-rows: 20px 100px 20px;
    }
}
