/****** FONTS *****/
html, button.add_activity_btn, input.activity_name {
    font-family: 'roboto', sans-serif;
}

p.name {
    font-weight: 300;
}

.time {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

/****** MAIN ******/
html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#523624, #1e1310);
    background-repeat: no-repeat;
}

.structure {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.timer_btn {
    height: 60px;
    width: 150px;
    border: none;
    color: white;
    background-color: #66442c;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 1.5em;
    margin: 20px 10px;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    align-content: center;  
}

/****** Add Activity *******/

.plus {
    background-color:rgba(0, 0, 0, 0);
    border: none;
    text-align: center;
    text-decoration:none;
    color: white;
    font-size: 2.2em;
}

.plus:hover {
    color: #589992;
    cursor: pointer;
}

/****** SIGN IN PAGE *******/

.slogo {
    padding-top: 100px;
    padding-bottom: 5px;
    margin: auto auto;
    text-align: center;
}

.gbutton {
    margin: auto auto;
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-top: 30px;
    width: 200px;
    height: 29px;
}

.gbutton:hover {
    cursor: pointer;
}

.gbutton-image {
    width: 200px;
    height: auto;
}

hr.style2 {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
    width:60%;
}

/****** SIGN OUT ******/

.header {
    display: flex;
    justify-content: space-between;
}

.g-signout {
    display: flex;
    flex-direction: column;
}

.g-signout:hover {
    cursor: pointer;
}

.g-signout > span {
    font-size: 1em;
    color: whitesmoke;
    margin: auto;
    padding-right: 17px;
}

/****** ACTIVITIES *******/

.activity {
    height: 80px;
    width: 200px;
    color: white;
    display: inline-flex;
    font-size: 1.5em;
    margin: 20px 10px;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    position: relative;
}

.activity > span {
    margin: auto;
    flex: 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    margin-right: 10px;
    margin-left: 10px;
}

.activity:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

.activity:nth-child(odd) {
    background-color: #ad8c76;
}

.activity:nth-child(even) { 
      background-color:#965a36;
}

.activity > button {
    position: absolute;
    right: 5px;
    top: 5px;
    border: none;
    background-color: transparent;
    display: none;
    padding: 0;
    width: 30px;
    height: 30px;
}

button.edit_activity_btn > img {
    width: 17px;
    height: 17px;
    opacity: .5;
    margin: auto;
}

.activity:hover > button {
    display: flex;
    cursor: pointer;
}

.activity > button:hover > img {
    opacity: .9;
}

/****** TIMER *******/

.name {
    font-size: 3em;
    color:white;
    margin-top: 0;
    margin-bottom: -10px;
}

.time {
    font-size: 5.5em;
    color:#589992;
    margin-top: 20px;
    margin-bottom: 45px;
}

.timebox {
    align-items: center;
    text-align: center;
}

.butt {
    align-content: center;
    text-align: center;
    margin: 20px auto;
    width:90%;
}

.butt2 {
    align-content: center;
    text-align: center;     
    margin: 20px auto; 
}

hr.style1 {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

.stop, .delete, .save {
    margin-top: -23px;
}

.stop:hover, .delete:hover, .save:hover {
    cursor: pointer;
}

.delete {
    background-color: #773a30;
}

.save {
    background-color: #4d8262;
}

/****** FOOTER *******/

.footer {
    flex-shrink: 0;
    display: flex;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.footer > a {
    text-decoration: none;
}

.footer > a:hover {
    text-decoration: underline;
}

.footer > span, .footer > a {
    color: #999999;
    font-size: .8em;
    margin: 0 12.5px;
}

.buy_me_a_coffee {
    white-space: nowrap;
}

/****** MEDIA QUERIES *******/

@media only screen and (max-width: 500px) {
    /* For mobile phones */
    .time {
        font-size: 4.8em;
    }

    .activity {
        width: 97%;
        margin-left: 0;
        margin-right: 0;
    }

    .footer {
        margin-top: 50px;
    }

    .footer > span, .footer > a {
        height: 30px;
    }
}

@media only screen and (max-width: 548px) {
    
    .footer {
        flex-flow: wrap;
        width: auto;
        justify-content: center;
    }

    .footer > span, .footer > a {
        height: 30px;
    }
}
