.btn {
    grid-row: 3;
    grid-column: 2;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border-radius: 5px;
    font-size: 1.6em;
    border: 4px solid white;
    opacity: .9;
    color: white;
    transition: box-shadow 05s;
    transition: transform .05s;
    transition: color .05s;
    transition: opacity .05s;
    transition: background-color .05s;
}

.btn:hover {
    background-color: white;
    opacity: .9;
    color: black;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

