.header {
    width: 80%;
    height: 400px;
    padding-top: 100px;
    margin: auto auto;
}

.gCal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: lightgrey;
}

.gCalSection {
    height: 400px;
}

.timeTracking {
    background-color: silver;
    margin-bottom: 400px;
}
