body {
    font-family: "Work Sans", sans-serif;
    background-color: #F4F4F4;
}

h1 {
    font-size: 34px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    color: white;
    margin: auto auto;
}

h2 {
    font-size: 18px;
    color: white;
    text-align: center;
    font-weight: 500;
    line-height: 145.3%;
    margin: auto auto;
}

.sectionH1 {
    width: 315px;
    margin-bottom: 20px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}

.sectionH2 {
    color: #4F4F4F;
    width: 90%;
}

.sectionIcon {
    margin: auto auto;
    display: block;
    margin-bottom: 30px;
}
