.activityName {
    grid-column: 2;
    grid-row: 1;
    font-size: 4em;
    color: white;
    opacity: .9;
    padding: 0;
    margin: 0;
    line-height: 1.2;
    font-weight: 300;
    max-width: 90vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.blackText {
    color: black;
    opacity: .95;
}
