.activityList {
    padding: 0;
    margin: 0;
    align-content: center;
    text-align: center;
    margin: 20px auto;
    width:90%;
}

.activityListItem {
    list-style: none;
    height: 75px;
    width: 250px;
    margin: 20px;
    display: inline-block;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
}

.activityListBtn {
    background: transparent;
    font-size: 1.6em;
    height: 100%;
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
    color: white;
    opacity: .95;
}

.activityListEditBtn {
    position: absolute;
    background: transparent;
    border: none;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    display: none;
    width: 35px;
    height: 35px;
}

.activityListItem:hover .activityListEditBtn {
    display: block;
}
