<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-40077705-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-40077705-3');
    </script>
    <!-- /Google Analytics -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Those Activities</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/data.css">
</head>

<body>
    <div class="rangeTypeDropdown">
        <button class="rangeTypeBtn">Week</button>
        <div class="rangeTypeDropdownContent">
            <button>Day</button>
            <button>Week</button>
            <button>Month</button>
            <button>180 Days</button>
            <button>Year</button>
            <!-- <button>All Time</button> -->
        </div>
    </div>
    <div>
        <button class="rangeBackwardBtn"><</button> 
        <input type="text" name="daterange" value="" />
        <button class="rangeForwardBtn">></button>
    </div>
    <div class="chartLegend"></div>
    <canvas id="myChart" width="400" height="400"></canvas>

    <script src="../static/js/jquery-compressed.js"></script>
    <script src="../static/js/moment.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <script src="../static/js/google_colors.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="../static/js/data.js"></script>
</body>

</html>
