<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="google-signin-client_id" content="379069589012-e6278tvlf5qsj797mq2kuhkbhkgqmotm.apps.googleusercontent.com">
        <title>Log Those Activities</title>
        
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
        
        <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:300,300i,400,400i,500,500i,700,700i,800,800i,900,900i" rel="stylesheet"> 
    </head>
    <body style="height: 100%">
        <div class="overlayout">
            <div class='overlay' style='display:none'>
                <div class=close2><button class='close'>+</button></div>

                <p>Add a New Activity</p>

                <input type="text" name="Activity Names">

                <p>Event Color</p>

                <button class="color" style="background-color:#dc2127"></button>
                <button class="color" style="background-color:#FF887c"></button>
                <button class="color" style="background-color:#ffb878"></button>
                <button class="color" style="background-color:#fbd75b"></button>
                <button class="color" style="background-color:#51b749"></button>
                <button class="color" style="background-color:#7ae7bf"></button>
                 <button class="color" style="background-color:#46d6db"></button>
                <button class="color" style="background-color:#a4bdfc"></button>
                <button class="color" style="background-color:#5484ed"></button>
                <button class="color" style="background-color:#e1e1e1"></button>
                <button class="color" style="background-color:#DBADFF"></button>
                <br>
                <button class="add">Add</button>
            </div>
        </div>
        
        <div>
            <button class="plus">+</button>
        </div>

        <button class='g-signout'>Sign out</button>

        <div class="timebox">
            {% if running_activity %}
                <span class="name">{{current_activity}}</span>
            {% else %}
                <span class="name" style="display: none;"></span>
            {% endif %}
            <br>
            <!--<hr class='style1'>-->
            <span class="time">00:00:00</span>    
         </div>
        
         {% if running_activity %}
        <div class="butt2">
            <button class='stop'>STOP</button>
            <button class='delete' style='display: none;'>DELETE</button>
            <button class='save' style='display: none;'>SAVE</button>
        </div>
        <script>
            var START_TIME = '{{start_time}}';
            var NOW_TIME = '{{now_time}}'
        </script>
        {% else %}
        <div class="butt2">
            <button class='stop' style='display: none;'>STOP</button>
            <button class='delete' style='display: none;'>DELETE</button>
            <button class='save' style='display: none;'>SAVE</button>
        </div>
        {% endif %}

        <hr class="style1">
        
        <div class="butt">
            <button class='activity'>Games</button>
            <button class='activity'>Plants</button>
            <button class='activity'>Work</button>
            <button class='activity'>Personal</button>
            <button class='activity'>Art</button>
            <button class='activity'>Exercise</button>
        </div>
        
        <div class="logo">
            <img src="../static/image/logo.png" alt="Log logo" style="width:100px;height:autopx;">
        </div>

        <br>

        <button class="add_new_activity">Add New Activity</button>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://apis.google.com/js/platform.js?onload=start"></script>
        <script src="../static/js/act_display.js"></script>
        <script src="../static/js/moment.js"></script>
        <script src="../static/js/timer.js"></script>
        <script src="../static/js/main.js"></script>
    </body>
</html>
