<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="google-signin-client_id" content="379069589012-e6278tvlf5qsj797mq2kuhkbhkgqmotm.apps.googleusercontent.com">
        <title>Log Those Activities</title>
    </head>
    <body>
        <button class='activity'>Games</button>
        <button class='activity'>Plants</button>
        <button class='activity'>Work</button>
        <button class='activity'>Personal</button>
        <button class='activity'>Art</button>
        <br>
        <br>
        <button class='stop' style='display: none;'>Stop</button>
        <br>
        <br>
        <button class='delete' style='display: none;'>Delete</button>
        <button class='save' style='display: none;'>Save</button>

        <div class="g-signin2" data-onsuccess="onSignIn"></div>

        <script src="https://apis.google.com/js/platform.js?onload=start"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="../static/js/main.js"></script>
    </body>
</html>
