<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-40077705-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-40077705-3');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id"
        content="379069589012-e6278tvlf5qsj797mq2kuhkbhkgqmotm.apps.googleusercontent.com">
    <title>Log Those Activities</title>

    <link rel="shortcut icon" type="image/png" href="../static/image/Favicon.png" />

    <link rel="stylesheet" type="text/css" href="../static/css/activity_dialog.css">
    <link rel="stylesheet" type="text/css" href="../static/css/styles-v2.css">
    <link rel="stylesheet" type="text/css" href="../static/fonts/gotham/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
</head>

<body>
    {% include 'included/edit_activity_dialog/index.html' %}
    {% include 'included/add_activity_dialog/index.html' %}

    <div class="container">
        <div class="blur structure">
            <header class="header">
                <button class="plus">+</button>
                <div class='g-signout'>
                    <span>Sign Out</span>
                </div>
            </header>

            <div class="content">
                <div class="timebox">
                    {% if running_activity %}
                    <p class="name">{{current_activity}}</p>
                    {% else %}
                    <p class="name" style="display: none;"></p>
                    {% endif %}
                    <p class="time">00:00:00</p>
                </div>

                {% if running_activity %}
                <div class="butt2">
                    <button class='stop timer_btn'>STOP</button>
                    <button class='delete timer_btn' style='display: none;'>DELETE</button>
                    <button class='save timer_btn' style='display: none;'>SAVE</button>
                </div>
                <script>
                    var START_TIME = '{{start_time}}';
                    var NOW_TIME = '{{now_time}}'
                </script>
                {% else %}
                <div class="butt2">
                    <button class='stop timer_btn' style='display: none;'>STOP</button>
                    <button class='delete timer_btn' style='display: none;'>DELETE</button>
                    <button class='save timer_btn' style='display: none;'>SAVE</button>
                </div>
                {% endif %}

                <hr class="style1">

                <div class="butt">
                    {% for activity in activities %}
                    <a class='activity' id='{{activity.id}}' data-color='{{activity.color}}'>
                        <span>{{activity.name}}</span>
                        <button class="edit_activity_btn">
                            <img src="../static/image/edit-icon.png">
                        </button>
                    </a>
                    {% endfor %}
                </div>
            </div>

            <footer class="footer">
                <a href="https://www.buymeacoffee.com/logtheapp" class="buy_me_a_coffee">Buy us a coffee</a>
                <span>hellologtime@gmail.com</span>
                <a href="https://www.reddit.com/r/logtheapp">Reddit</a>
                <a href="https://www.twitter.com/logtheapp">Twitter</a>
                <a href="https://www.facebook.com/logtheapp">Facebook</a>
            </footer>
        </div>
    </div>

    <script src="../static/js/jquery-compressed.js"></script>
    <script src="../static/js/google-platflorm.js"></script>
    <script src="../static/js/act_display-v0.js"></script>
    <script src="../static/js/moment.js"></script>
    <script src="../static/js/timer-v0.js"></script>
    <script src="../static/js/main-v1.js"></script>
    <script src="../static/js/activity_dialog.js"></script>
</body>

</html>