<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-40077705-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-40077705-3');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id"
        content="379069589012-e6278tvlf5qsj797mq2kuhkbhkgqmotm.apps.googleusercontent.com">
    <title>Log Those Activities</title>

    <link rel="stylesheet" type="text/css" href="../static/css/styles-v0.css">
    <link rel="stylesheet" type="text/css" href="../static/css/login-style.css">

    <link
        href="https://fonts.googleapis.com/css?family=Alegreya+Sans:300,300i,400,400i,500,500i,700,700i,800,800i,900,900i"
        rel="stylesheet">
</head>

<body>
    <div class="slogo">
        <img src="../static/image/logo.png" alt="Log logo" style="width:250px;height:autopx;">
    </div>

    <hr class="style2">

    <a class="gbutton" href="/login_oauth_server_flow">
        <img class="gbutton-image" src="../static/image/btn_google_signin_dark_normal_web@2x.png"></img>
    </a>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/js/act_display.js"></script>
    <script src="../static/js/moment.js"></script>
    <script src="../static/js/timer.js"></script>
    <script src="../static/js/main-v1.js"></script>
</body>

</html>