<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="google-signin-client_id" content="379069589012-e6278tvlf5qsj797mq2kuhkbhkgqmotm.apps.googleusercontent.com">
        <title>Log Those Activities</title>
        
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
        
        <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:300,300i,400,400i,500,500i,700,700i,800,800i,900,900i" rel="stylesheet"> 
        
    </head>
        <body>
        
        <div class="slogo">
            <img src="../static/image/logo.png" alt="Log logo" style="width:250px;height:autopx;">
        </div>
            
        <hr class="style2">

        <div class="gbutton">   
        <div class="g-signin2" data-onsuccess="onSignIn" data-prompt="select_account"></div>
</div> 
        <script src="https://apis.google.com/js/platform.js?onload=start"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="../static/js/act_display.js"></script>
        <script src="../static/js/moment.js"></script>
        <script src="../static/js/timer.js"></script>
        <script src="../static/js/main.js"></script>
    </body>
</html>