.navigation {
    height: 65px;
    display: grid;
    grid-template-columns: 5fr repeat(5, auto);
    align-items: center;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    background-color: white;

    .pageLink {
        color: black;
        letter-spacing: .07em;
        font-weight: normal;
        padding-right: 25px;
    }

    .logo {
        justify-self: start;
        padding-left: 25px;
        color: black;
        letter-spacing: .07em;
        font-weight: normal;
    }
}
