.tooltip {
    position: absolute;
    z-index: 10;
    visibility: hidden;
    background: white;
    color: black;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
